<div class="container text-center">
    <div class="row gx-5 mt-5">
        {% for object in object_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>{{ object.description|slice:100 }}</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                            <a href="{% url 'catalog:product' object.pk %}">Перейти</a>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>