{% extends 'catalog/base.html' %}

{% load tags %}

{% block content %}
    <div class="container-fluid px-3 mt-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <h3 class="mb-0">{{ object.title }}</h3>
                <div class="mb-1 text-body-secondary">{{ object.create_date }}</div>
                <p class="card-text mb-auto">{{ object.body }}</p>
                <h6 class="d-inline-block mb-2 text-muted">Просмотров: {{ object.views_count }}</h6>
            </div>
            <div class="col-4">
                <svg class="bd-placeholder-img" width="250" height="250">
                    <img src="{{ object.preview|mediapath }}" height="250" width="250"
                         alt="Все будет, но не сразу">
                </svg>
            </div>
        </div>
    </div>

    <div class="container text-center mt-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <a href="{% url 'update_blog' object.pk %}" class="btn btn-outline-dark">Редактировать запись</a>
                <a href="{% url 'delete_blog' object.pk %}" class="btn btn-outline-danger">Удалить запись</a>
            </div>
        </div>
    </div>
{% endblock %}