{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
    {% for object in object_list %}
        <div class="container text-center">
            <div class="row gx-5 mt-5 justify-content-center">
                <div class="col-9">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                        </div>
                        <div class="card-body">
{#                            <img src="{{ object.preview|mediapath }}" width="220" height="250">#}
                            <img src="{% mediapath object.preview %}" width="220" height="250" alt="Все будет, но не сразу">
                            <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>{{ object.description|slice:200 }}</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}